#main-container{
    display: flex;
}

#main-image{
    width: 74vh;
}

#main-image img {
    width : 100%;
}

#caption-bg {
    display: flex;
    height: 180px;
    width: 74vh;
    background-color: black;
    opacity: 0.3;
    position: absolute;
    top: 8rem;
    align-items: center;
    justify-content: center;
    /* insert calc for responsive layout */
}

#caption-bg img {
    width: 8em;
}

@font-face {
    font-family: Summer;
    src: url(Summer-GpYG.otf)
}

#name {
    color: antiquewhite;
    font-family: Summer, sans-serif;
    font-size: 85px;
}

#form-caption {
    font-size: 2em;
    width: 40em;
}

