body {
    background-color: #e6e6e6;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#main-container{
    display: flex;
}

#main-image{
    width: 74vh;
}

#main-image img {
    width : 100%;
}

#caption-bg {
    display: flex;
    height: 180px;
    width: 74vh;
    background-color: black;
    opacity: 0.3;
    position: absolute;
    top: 8rem;
    align-items: center;
    justify-content: center;
    /* insert calc for responsive layout */
}

#caption-bg img {
    width: 8em;
}

@font-face {
    font-family: Summer;
    src: url(Summer-GpYG.otf)
}

#name {
    color: antiquewhite;
    font-family: Summer, sans-serif;
    font-size: 85px;
}

#form-section {
    font-size: 2em;
    width: 40em;
    margin-left: 35px;
    padding-top: 6em;
    font-weight: bold;
}

#form {
    font-size: 1em;
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-left: -35px;
    padding-left: 35px;
    padding-right: 50em;
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: 0px 2px lightslategray;
}

input {
    width: 28em;
    height: 2em;
    font-size: 20px;
    margin-bottom: 15px;
    border:1px solid #E5E7EB;
    border-radius: 4px;
}

.left {
    margin-right: 50px;
}

#btn-sub {
    background-color: #596D48;
    color: white;
    font-weight: bold;
    font-size: 20px;
    height: 60px;
    width: 14em;
    margin-top: 30px;
    border-radius: 12px;
}

input:focus,
input:active {
    border: 2px solid #3399FF;
    outline: none;
}

#Account-log {
    margin-top: 40px;
    font-size: 25px;
    font-weight: lighter;
}

a{
    color: #596D48;
    font-weight: bold;
}









