body {
    background-color: #e6e6e6;
}

#main-container{
    display: flex;
}

#main-image{
    width: 74vh;
}

#main-image img {
    width : 100%;
}

#caption-bg {
    display: flex;
    height: 180px;
    width: 74vh;
    background-color: black;
    opacity: 0.3;
    position: absolute;
    top: 8rem;
    align-items: center;
    justify-content: center;
    /* insert calc for responsive layout */
}

#caption-bg img {
    width: 8em;
}

@font-face {
    font-family: Summer;
    src: url(Summer-GpYG.otf)
}

#name {
    color: antiquewhite;
    font-family: Summer, sans-serif;
    font-size: 85px;
}

#form-section {
    font-size: 2em;
    width: 40em;
    padding-left: 35px;
    padding-top: 6em;
    font-weight: bold;
}

#form {
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1em;
}

input {
    width: 43em;
    height: 2em;
    margin-bottom: 15px;
    border:1px solid #E5E7EB;
    border-radius: 4px;
}

.left {
    margin-right: 50px;
    margin-bottom: 35px;
}

#btn-sub {
    background-color: #596D48;
    color: white;
    font-weight: bold;
    font-size: 20px;
    height: 60px;
    width: 14em;
    margin-top: 30px;
    border-radius: 12px;
}

input:focus,
input:active {
    border: 2px solid #3399FF;
    outline: none;
}









